.apodHeader,
.marsHeader {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;
}
.logoMars img,
.logoApod img {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 100px;
}

@media screen and (max-width: 761px) {
  .logoApod img,
  .logoMars img {
    position: absolute;
    left: 2px;
    top: 5px;
    width: 75px;
  }
  .logoMars img {
    width: 60px;
  }
  .apodHeader h1,
  .marsHeader h1 {
    font-size: 1.5em;
  }
}
