:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --color-bg-apod: #050e33;
  --color-bg-apod-container: #12457598;
  --color-bg-button-hover: #233696;
  --color-bg-button: #242424d1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  padding: 0;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  overflow-x: hidden;
}
a {
  color: rgba(255, 255, 255, 0.87);
}
button {
  border-radius: 10px;
  padding: 12px;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--color-bg-button);
  color: var(--color-text-secondary);
  cursor: pointer;
}
button:focus,
button:hover {
  background-color: var(--color-bg-button-hover);
  transition: background-color 0.3s ease-in-out;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3em;
  margin-bottom: 12px;
}

.apodContainer,
.marsContainer {
  gap: 1em;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.infoAndDateContainer,
.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infoContainer {
  gap: 0.5em;
}
.datePicker h2 {
  margin-bottom: 0.5em;
}
.infoAndDateContainer h2 {
  font-size: 1.1em;
  text-align: center;
}
.datePicker input,
.datePicker svg {
  color: black;
  text-align: center;
}
.datePicker svg {
  color: white;
}
.datePicker input {
  background-color: white;
}

.datePicker div {
  background-color: black;
  border-radius: 4%;
}
.toggleApod,
.toggleMars {
  right: 0;
  height: 50px;
  width: 180;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: transparent;
  font-weight: bold;
  font-size: 1em;
}
.infoAndDateContainer {
  margin-right: 1em;
  padding: 1.5em;
  gap: 1em;
  min-width: 380px;
  border-radius: 8px;
  margin-bottom: 1.5em;
}
